.App {
  text-align: center;
  width: 50%;
  height: 50%;
  margin: 25px auto auto auto;
  padding: 5px 0 20px;
  background-color: rgb(191, 234, 245,0.5);
  border-radius: 30px;
}

a {
  text-decoration: none;
}

.container {
 display: flex;
 justify-content: center;
 align-content: space-between;
 gap: 10px 20px;
 flex-wrap: wrap;
 width: 800px;
 margin: auto;

}
.item{
  width: 250px;
  height: 120px;
  border: 1px solid #82AAE3;
  border-radius: 125px 0 125px 0;

}
.addBtn {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 2rem;
  background-color: #BFEAF5;
  color: #82AAE3;
  border: 0.5px solid #82AAE3;
}

h1{
  color: #82AAE3;
}
h2 , h3{
  color: #91D8E4;
}

.error{
  color: tomato;
  font-weight: bold;
  font-size: 1.5rem;
}
select {
  font-size: 1.4rem;
  background-color: rgb(191, 234, 245,0.5);
  border: 0.5px solid #82AAE3;
  cursor: pointer;
}

 input[type=color] {
  cursor: pointer;
 }

input {
  font-size: 1.4rem;
  margin-top: 8px;
  background-color: rgb(191, 234, 245,0.5);
  border: 0.5px solid #82AAE3;
 
}

select{
  width: 100%;
}

datalist option:hover{
  background-color: lightblue;
}
.addRoomBtn, .addDeviceBtn{
  margin: 20px;
  font-weight: bold;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  background-color: #BFEAF5;
  color: #82AAE3;
  border: 0.5px solid #82AAE3;
  cursor: pointer;
}

.devices{
  margin: 3px;
  font-size: 1rem;
  font-weight: bold;
}
.deviceDiv {
  width: 450px;
  margin: auto;
}
.homePgBtn{
  background-color: #BFEAF5;
  color: #82AAE3;
  border: 0.5px solid #82AAE3;
  width: 50%;
  cursor: pointer;
}