.App {
  text-align: center;

}

a {
  text-decoration: none;
}

.container {
 display: flex;
 justify-content: center;
 align-content: space-between;
 gap: 10px 20px;
 flex-wrap: wrap;
 width: 800px;
 margin: auto;
}
.item{
  width: 250px;
  height: 120px;
  border: 1px solid #FF7000;

}
.addBtn {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 4rem;
  background-color: #10A19D;
}

h1{
  color: #10A19D;
}
.error{
  color: tomato;
  font-weight: bold;
  font-size: 1.5rem;
}

input, select {
  font-size: 1.6rem;
  margin: 5px;
 
}

select{
  width: 100%;
}

datalist option:hover{
  background-color: lightblue;
}
.addRoomBtn, .addDeviceBtn{
  margin: 20px;
  font-weight: bold;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  background-color: #10A19D;
}

.devices{
  margin: 3px;
  font-size: 1rem;
  font-weight: bold;
}
.deviceDiv {
  width: 450px;
  margin: auto;
}